<ion-header>
  <ion-toolbar>
    <ion-title>Movie Night</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-scroll">
    <div class="intro">
      <p class="eyebrow">YOUR NEXT FAVORITE</p>
      <h1>Find a story<br>worth watching.</h1>
      <p class="description">Search the collection and discover something for tonight.</p>
    </div>
    <ion-searchbar placeholder="Search Movie" (ionInput)="searchMovies($event)" animated="true"></ion-searchbar>
    @if (searchResults.length) {
      <ion-list class="results">
        <ion-list-header>Matching movies</ion-list-header>
        @for (movie of searchResults; track movie.id) {
          <ion-item lines="in">
            <ion-icon name="film-outline" slot="start"></ion-icon>
            <ion-label>{{ movie.title }}</ion-label>
            <ion-note slot="end">{{ movie.genre }}</ion-note>
          </ion-item>
        }
      </ion-list>
    }
  </div>
</ion-content>
